/* W3.CSS 4.15 December 2020 by Jan Egil and Borge Refsnes */
html {
    box-sizing: border-box
}

*,
*:before,
*:after {
    box-sizing: inherit
}

/* Extract from normalize.css by Nicolas Gallagher and Jonathan Neal git.io/normalize */
html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

/* Desktop styles */
body {

    font: 14px sans-serif;
    text-align: center;
}

h1 {
    font-size: 2rem;
}

p {
    font-size: 1.2rem;
}

/* Tablet styles */
@media only screen and (max-width: 768px) {
    body {
        font-size: 14px;
    }

    h1 {
        font-size: 1.5rem;
    }

    p {
        font-size: 1rem;
    }
}

/* Mobile styles */
@media only screen and (max-width: 480px) {
    body {
        font-size: 12px;
    }

    h1 {
        font-size: 1.2rem;
    }

    p {
        font-size: 0.8rem;
    }
}

body {
    margin: 0
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section {
    display: block
}

summary {
    display: list-item
}

audio,
canvas,
progress,
video {
    display: inline-block
}

progress {
    vertical-align: baseline
}

audio:not([controls]) {
    display: none;
    height: 0
}

[hidden],
template {
    display: none
}

a {
    background-color: transparent
}

a:active,
a:hover {
    outline-width: 0
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted
}

b,
strong {
    font-weight: bolder
}

dfn {
    font-style: italic
}

mark {
    background: #ff0;
    color: #000
}

small {
    font-size: 80%
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub {
    bottom: -0.25em
}

sup {
    top: -0.5em
}

figure {
    margin: 1em 40px
}

img {
    border-style: none
}

code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

button,
input,
select,
textarea,
optgroup {
    font: inherit;
    margin: 0
}

optgroup {
    font-weight: bold
}

button,
input {
    overflow: visible
}

button,
select {
    text-transform: none
}

button,
[type=button],
[type=reset],
[type=submit] {
    -webkit-appearance: button
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
    border-style: none;
    padding: 0
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
    outline: 1px dotted ButtonText
}

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: .35em .625em .75em
}

legend {
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal
}

textarea {
    overflow: auto
}

[type=checkbox],
[type=radio] {
    padding: 0
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

/* End extract */
html,
body {
    font-family: Verdana, sans-serif;
    font-size: 15px;
    line-height: 1.5
}

html {
    overflow-x: hidden
}

h1 {
    font-size: 36px
}

h2 {
    font-size: 30px
}

h3 {
    font-size: 24px
}

h4 {
    font-size: 20px
}

h5 {
    font-size: 18px
}

h6 {
    font-size: 16px
}

.pu-serif {
    font-family: serif
}

.pu-sans-serif {
    font-family: sans-serif
}

.pu-cursive {
    font-family: cursive
}

.pu-monospace {
    font-family: monospace
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Segoe UI", Arial, sans-serif;
    font-weight: 400;
    margin: 10px 0
}

.pu-wide {
    letter-spacing: 4px
}

hr {
    border: 0;
    border-top: 1px solid #eee;
    margin: 20px 0
}

.pu-image {
    max-width: 100%;
    height: auto
}

img {
    vertical-align: middle
}

a {
    color: inherit
}

.pu-table,
.pu-table-all {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    display: table
}

.pu-table-all {
    border: 1px solid #ccc
}

.pu-bordered tr,
.pu-table-all tr {
    border-bottom: 1px solid #ddd
}

.pu-striped tbody tr:nth-child(even) {
    background-color: #f1f1f1
}

.pu-table-all tr:nth-child(odd) {
    background-color: #fff
}

.pu-table-all tr:nth-child(even) {
    background-color: #f1f1f1
}

.pu-hoverable tbody tr:hover,
.pu-ul.pu-hoverable li:hover {
    background-color: #ccc
}

.pu-centered tr th,
.pu-centered tr td {
    text-align: center
}

.pu-table td,
.pu-table th,
.pu-table-all td,
.pu-table-all th {
    padding: 8px 8px;
    display: table-cell;
    text-align: left;
    vertical-align: top
}

.pu-table th:first-child,
.pu-table td:first-child,
.pu-table-all th:first-child,
.pu-table-all td:first-child {
    padding-left: 16px
}

.pu-btn,
.pu-button {
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap
}

.pu-btn:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.pu-btn,
.pu-button {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

.pu-disabled,
.pu-btn:disabled,
.pu-button:disabled {
    cursor: not-allowed;
    opacity: 0.3
}

.pu-disabled *,
:disabled * {
    pointer-events: none
}

.pu-btn.pu-disabled:hover,
.pu-btn:disabled:hover {
    box-shadow: none
}

.pu-badge,
.pu-tag {
    background-color: #000;
    color: #fff;
    display: inline-block;
    padding-left: 8px;
    padding-right: 8px;
    text-align: center
}

.pu-badge {
    border-radius: 50%
}

.pu-ul {
    list-style-type: none;
    padding: 0;
    margin: 0
}

.pu-ul li {
    padding: 8px 16px;
    border-bottom: 1px solid #ddd
}

.pu-ul li:last-child {
    border-bottom: none
}

.pu-tooltip,
.pu-display-container {
    position: relative
}

.pu-tooltip .pu-text {
    display: none
}

.pu-tooltip:hover .pu-text {
    display: inline-block
}

.pu-ripple:active {
    opacity: 0.5
}

.pu-ripple {
    transition: opacity 0s
}

.pu-input {
    padding: 8px;
    display: block;
    border: none;
    border-bottom: 1px solid #ccc;
    width: 100%
}

.pu-select {
    padding: 9px 0;
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc
}

.pu-dropdown-click,
.pu-dropdown-hover {
    position: relative;
    display: inline-block;
    cursor: pointer
}

.pu-dropdown-hover:hover .pu-dropdown-content {
    display: block
}

.pu-dropdown-hover:first-child,
.pu-dropdown-click:hover {
    background-color: #ccc;
    color: #000
}

.pu-dropdown-hover:hover>.pu-button:first-child,
.pu-dropdown-click:hover>.pu-button:first-child {
    background-color: #ccc;
    color: #000
}

.pu-dropdown-content {
    cursor: auto;
    color: #000;
    background-color: #fff;
    display: none;
    position: absolute;
    min-width: 160px;
    margin: 0;
    padding: 0;
    z-index: 1
}

.pu-check,
.pu-radio {
    width: 24px;
    height: 24px;
    position: relative;
    top: 6px
}

.pu-sidebar {
    height: 100%;
    width: 200px;
    background-color: #fff;
    position: fixed !important;
    z-index: 1;
    overflow: auto
}

.pu-bar-block .pu-dropdown-hover,
.pu-bar-block .pu-dropdown-click {
    width: 100%
}

.pu-bar-block .pu-dropdown-hover .pu-dropdown-content,
.pu-bar-block .pu-dropdown-click .pu-dropdown-content {
    min-width: 100%
}

.pu-bar-block .pu-dropdown-hover .pu-button,
.pu-bar-block .pu-dropdown-click .pu-button {
    width: 100%;
    text-align: left;
    padding: 8px 16px
}

.pu-main,
#main {
    transition: margin-left .4s
}

.pu-modal {
    z-index: 3;
    display: none;
    padding-top: 100px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4)
}

.pu-modal-content {
    margin: auto;
    background-color: #fff;
    position: relative;
    padding: 0;
    outline: 0;
    width: 600px
}

.pu-bar {
    width: 100%;
    overflow: hidden
}

.pu-center .pu-bar {
    display: inline-block;
    width: auto
}

.pu-bar .pu-bar-item {
    padding: 8px 16px;
    float: left;
    width: auto;
    border: none;
    display: block;
    outline: 0
}

.pu-bar .pu-dropdown-hover,
.pu-bar .pu-dropdown-click {
    position: static;
    float: left
}

.pu-bar .pu-button {
    white-space: normal
}

.pu-bar-block .pu-bar-item {
    width: 100%;
    display: block;
    padding: 8px 16px;
    text-align: left;
    border: none;
    white-space: normal;
    float: none;
    outline: 0
}

.pu-bar-block.pu-center .pu-bar-item {
    text-align: center
}

.pu-block {
    display: block;
    width: 100%
}

.pu-responsive {
    display: block;
    overflow-x: auto
}

.pu-container:after,
.pu-container:before,
.pu-panel:after,
.pu-panel:before,
.pu-row:after,
.pu-row:before,
.pu-row-padding:after,
.pu-row-padding:before,
.pu-cell-row:before,
.pu-cell-row:after,
.pu-clear:after,
.pu-clear:before,
.pu-bar:before,
.pu-bar:after {
    content: "";
    display: table;
    clear: both
}

.pu-col,
.pu-half,
.pu-third,
.pu-twothird,
.pu-threequarter,
.pu-quarter {
    float: left;
    width: 100%
}

.pu-col.s1 {
    width: 8.33333%
}

.pu-col.s2 {
    width: 16.66666%
}

.pu-col.s3 {
    width: 24.99999%
}

.pu-col.s4 {
    width: 33.33333%
}

.pu-col.s5 {
    width: 41.66666%
}

.pu-col.s6 {
    width: 49.99999%
}

.pu-col.s7 {
    width: 58.33333%
}

.pu-col.s8 {
    width: 66.66666%
}

.pu-col.s9 {
    width: 74.99999%
}

.pu-col.s10 {
    width: 83.33333%
}

.pu-col.s11 {
    width: 91.66666%
}

.pu-col.s12 {
    width: 99.99999%
}

@media (min-width:601px) {
    .pu-col.m1 {
        width: 8.33333%
    }

    .pu-col.m2 {
        width: 16.66666%
    }

    .pu-col.m3,
    .pu-quarter {
        width: 24.99999%
    }

    .pu-col.m4,
    .pu-third {
        width: 33.33333%
    }

    .pu-col.m5 {
        width: 41.66666%
    }

    .pu-col.m6,
    .pu-half {
        width: 49.99999%
    }

    .pu-col.m7 {
        width: 58.33333%
    }

    .pu-col.m8,
    .pu-twothird {
        width: 66.66666%
    }

    .pu-col.m9,
    .pu-threequarter {
        width: 74.99999%
    }

    .pu-col.m10 {
        width: 83.33333%
    }

    .pu-col.m11 {
        width: 91.66666%
    }

    .pu-col.m12 {
        width: 99.99999%
    }
}

@media (min-width:993px) {
    .pu-col.l1 {
        width: 8.33333%
    }

    .pu-col.l2 {
        width: 16.66666%
    }

    .pu-col.l3 {
        width: 24.99999%
    }

    .pu-col.l4 {
        width: 33.33333%
    }

    .pu-col.l5 {
        width: 41.66666%
    }

    .pu-col.l6 {
        width: 49.99999%
    }

    .pu-col.l7 {
        width: 58.33333%
    }

    .pu-col.l8 {
        width: 66.66666%
    }

    .pu-col.l9 {
        width: 74.99999%
    }

    .pu-col.l10 {
        width: 83.33333%
    }

    .pu-col.l11 {
        width: 91.66666%
    }

    .pu-col.l12 {
        width: 99.99999%
    }
}

.pu-rest {
    overflow: hidden
}

.pu-stretch {
    margin-left: -16px;
    margin-right: -16px
}

.pu-content,
.pu-auto {
    margin-left: auto;
    margin-right: auto
}

.pu-content {
    max-width: 980px
}

.pu-auto {
    max-width: 1140px
}

.pu-cell-row {
    display: table;
    width: 100%
}

.pu-cell {
    display: table-cell
}

.pu-cell-top {
    vertical-align: top
}

.pu-cell-middle {
    vertical-align: middle
}

.pu-cell-bottom {
    vertical-align: bottom
}

.pu-hide {
    display: none !important
}

.pu-show-block,
.pu-show {
    display: block !important
}

.pu-show-inline-block {
    display: inline-block !important
}

@media (max-width:1205px) {
    .pu-auto {
        max-width: 95%
    }
}

@media (max-width:600px) {
    .pu-modal-content {
        margin: 0 10px;
        width: auto !important
    }

    .pu-modal {
        padding-top: 30px
    }

    .pu-dropdown-hover.pu-mobile .pu-dropdown-content,
    .pu-dropdown-click.pu-mobile .pu-dropdown-content {
        position: relative
    }

    .pu-hide-small {
        display: none !important
    }

    .pu-mobile {
        display: block;
        width: 100% !important
    }

    .pu-bar-item.pu-mobile,
    .pu-dropdown-hover.pu-mobile,
    .pu-dropdown-click.pu-mobile {
        text-align: center
    }

    .pu-dropdown-hover.pu-mobile,
    .pu-dropdown-hover.pu-mobile .pu-btn,
    .pu-dropdown-hover.pu-mobile .pu-button,
    .pu-dropdown-click.pu-mobile,
    .pu-dropdown-click.pu-mobile .pu-btn,
    .pu-dropdown-click.pu-mobile .pu-button {
        width: 100%
    }
}

@media (max-width:768px) {
    .pu-modal-content {
        width: 500px
    }

    .pu-modal {
        padding-top: 50px
    }
}

@media (min-width:993px) {
    .pu-modal-content {
        width: 900px
    }

    .pu-hide-large {
        display: none !important
    }

    .pu-sidebar.pu-collapse {
        display: block !important
    }
}

@media (max-width:992px) and (min-width:601px) {
    .pu-hide-medium {
        display: none !important
    }
}

@media (max-width:992px) {
    .pu-sidebar.pu-collapse {
        display: none
    }

    .pu-main {
        margin-left: 0 !important;
        margin-right: 0 !important
    }

    .pu-auto {
        max-width: 100%
    }
}

.pu-top,
.pu-bottom {
    position: fixed;
    width: 100%;
    z-index: 1
}

.pu-top {
    top: 0
}

.pu-bottom {
    bottom: 0
}

.pu-overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2
}

.pu-display-topleft {
    position: absolute;
    left: 0;
    top: 0
}

.pu-display-topright {
    position: absolute;
    right: 0;
    top: 0
}

.pu-display-bottomleft {
    position: absolute;
    left: 0;
    bottom: 0
}

.pu-display-bottomright {
    position: absolute;
    right: 0;
    bottom: 0
}

.pu-display-middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}

.pu-display-left {
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(0%, -50%);
    -ms-transform: translate(-0%, -50%)
}

.pu-display-right {
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%)
}

.pu-display-topmiddle {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%)
}

.pu-display-bottommiddle {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%)
}

.pu-display-container:hover .pu-display-hover {
    display: block
}

.pu-display-container:hover span.pu-display-hover {
    display: inline-block
}

.pu-display-hover {
    display: none
}

.pu-display-position {
    position: absolute
}

.pu-circle {
    border-radius: 50%
}

.pu-round-small {
    border-radius: 2px
}

.pu-round,
.pu-round-medium {
    border-radius: 4px
}

.pu-round-large {
    border-radius: 8px
}

.pu-round-xlarge {
    border-radius: 16px
}

.pu-round-xxlarge {
    border-radius: 32px
}

.pu-row-padding,
.pu-row-padding>.pu-half,
.pu-row-padding>.pu-third,
.pu-row-padding>.pu-twothird,
.pu-row-padding>.pu-threequarter,
.pu-row-padding>.pu-quarter,
.pu-row-padding>.pu-col {
    padding: 0 8px
}

.pu-container,
.pu-panel {
    padding: 0.01em 16px
}

.pu-panel {
    margin-top: 16px;
    margin-bottom: 16px
}

.pu-code,
.pu-codespan {
    font-family: Consolas, "courier new";
    font-size: 16px
}

.pu-code {
    width: auto;
    background-color: #fff;
    padding: 8px 12px;
    border-left: 4px solid #4CAF50;
    word-wrap: break-word
}

.pu-codespan {
    color: crimson;
    background-color: #f1f1f1;
    padding-left: 4px;
    padding-right: 4px;
    font-size: 110%
}

.pu-card,
.pu-card-2 {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12)
}

.pu-card-4,
.pu-hover-shadow:hover {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19)
}

.pu-spin {
    animation: pu-spin 2s infinite linear
}

@keyframes pu-spin {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(359deg)
    }
}

.pu-animate-fading {
    animation: fading 10s infinite
}

@keyframes fading {
    0% {
        opacity: 0
    }

    50% {
        opacity: 1
    }

    100% {
        opacity: 0
    }
}

.pu-animate-opacity {
    animation: opac 0.8s
}

@keyframes opac {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.pu-animate-top {
    position: relative;
    animation: animatetop 0.4s
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

.pu-animate-left {
    position: relative;
    animation: animateleft 0.4s
}

@keyframes animateleft {
    from {
        left: -300px;
        opacity: 0
    }

    to {
        left: 0;
        opacity: 1
    }
}

.pu-animate-right {
    position: relative;
    animation: animateright 0.4s
}

@keyframes animateright {
    from {
        right: -300px;
        opacity: 0
    }

    to {
        right: 0;
        opacity: 1
    }
}

.pu-animate-bottom {
    position: relative;
    animation: animatebottom 0.4s
}

@keyframes animatebottom {
    from {
        bottom: -300px;
        opacity: 0
    }

    to {
        bottom: 0;
        opacity: 1
    }
}

.pu-animate-zoom {
    animation: animatezoom 0.6s
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

.pu-animate-input {
    transition: width 0.4s ease-in-out
}

.pu-animate-input:focus {
    width: 100% !important
}

.pu-opacity,
.pu-hover-opacity:hover {
    opacity: 0.60
}

.pu-opacity-off,
.pu-hover-opacity-off:hover {
    opacity: 1
}

.pu-opacity-max {
    opacity: 0.25
}

.pu-opacity-min {
    opacity: 0.75
}

.pu-greyscale-max,
.pu-grayscale-max,
.pu-hover-greyscale:hover,
.pu-hover-grayscale:hover {
    filter: grayscale(100%)
}

.pu-greyscale,
.pu-grayscale {
    filter: grayscale(75%)
}

.pu-greyscale-min,
.pu-grayscale-min {
    filter: grayscale(50%)
}

.pu-sepia {
    filter: sepia(75%)
}

.pu-sepia-max,
.pu-hover-sepia:hover {
    filter: sepia(100%)
}

.pu-sepia-min {
    filter: sepia(50%)
}

.pu-tiny {
    font-size: 10px !important
}

.pu-small {
    font-size: 12px !important
}

.pu-medium {
    font-size: 15px !important
}

.pu-large {
    font-size: 18px !important
}

.pu-xlarge {
    font-size: 24px !important
}

.pu-xxlarge {
    font-size: 36px !important
}

.pu-xxxlarge {
    font-size: 48px !important
}

.pu-jumbo {
    font-size: 64px !important
}

.pu-left-align {
    text-align: left !important
}

.pu-right-align {
    text-align: right !important
}

.pu-justify {
    text-align: justify !important
}

.pu-center {
    text-align: center !important
}

.pu-border-0 {
    border: 0 !important
}

.pu-border {
    border: 1px solid #ccc !important
}

.pu-border-top {
    border-top: 1px solid #ccc !important
}

.pu-border-bottom {
    border-bottom: 1px solid #ccc !important
}

.pu-border-left {
    border-left: 1px solid #ccc !important
}

.pu-border-right {
    border-right: 1px solid #ccc !important
}

.pu-topbar {
    border-top: 6px solid #ccc !important
}

.pu-bottombar {
    border-bottom: 6px solid #ccc !important
}

.pu-leftbar {
    border-left: 6px solid #ccc !important
}

.pu-rightbar {
    border-right: 6px solid #ccc !important
}

.pu-section,
.pu-code {
    margin-top: 16px !important;
    margin-bottom: 16px !important
}

.pu-margin {
    margin: 16px !important
}

.pu-margin-top {
    margin-top: 16px !important
}

.pu-margin-bottom {
    margin-bottom: 16px !important
}

.pu-margin-left {
    margin-left: 16px !important
}

.pu-margin-right {
    margin-right: 16px !important
}

.pu-padding-small {
    padding: 4px 8px !important
}

.pu-padding {
    padding: 8px 16px !important
}

.pu-padding-large {
    padding: 12px 24px !important
}

.pu-padding-16 {
    padding-top: 16px !important;
    padding-bottom: 16px !important
}

.pu-padding-24 {
    padding-top: 24px !important;
    padding-bottom: 24px !important
}

.pu-padding-32 {
    padding-top: 32px !important;
    padding-bottom: 32px !important
}

.pu-padding-48 {
    padding-top: 48px !important;
    padding-bottom: 48px !important
}

.pu-padding-64 {
    padding-top: 64px !important;
    padding-bottom: 64px !important
}

.pu-padding-top-64 {
    padding-top: 64px !important
}

.pu-padding-top-48 {
    padding-top: 48px !important
}

.pu-padding-top-32 {
    padding-top: 32px !important
}

.pu-padding-top-24 {
    padding-top: 24px !important
}

.pu-left {
    float: left !important
}

.pu-right {
    float: right !important
}

.pu-button:hover {
    color: #000 !important;
    background-color: #ccc !important;

}

.pu-transparent,
.pu-hover-none:hover {
    color: white !important;
    background-color: transparent !important;
    display: inline block;
    border: 5x solid pink;

}

.pu-hover-none:hover {
    box-shadow: none !important
}

/* Colors */
.pu-amber,
.pu-hover-amber:hover {
    color: #000 !important;
    background-color: #ffc107 !important
}

.pu-aqua,
.pu-hover-aqua:hover {
    color: #000 !important;
    background-color: #00ffff !important
}

.pu-blue,
.pu-hover-blue:hover {
    color: #fff !important;
    background-color: #2196F3 !important
}

.pu-light-blue,
.pu-hover-light-blue:hover {
    color: #000 !important;
    background-color: #87CEEB !important
}

.pu-brown,
.pu-hover-brown:hover {
    color: #fff !important;
    background-color: #795548 !important
}

.pu-cyan,
.pu-hover-cyan:hover {
    color: #000 !important;
    background-color: #00bcd4 !important
}

.pu-blue-grey,
.pu-hover-blue-grey:hover,
.pu-blue-gray,
.pu-hover-blue-gray:hover {
    color: #fff !important;
    background-color: #607d8b !important
}

.pu-green,
.pu-hover-green:hover {
    color: #fff !important;
    background-color: #4CAF50 !important
}

.pu-light-green,
.pu-hover-light-green:hover {
    color: #000 !important;
    background-color: #8bc34a !important
}

.pu-indigo,
.pu-hover-indigo:hover {
    color: #fff !important;
    background-color: #3f51b5 !important
}

.pu-khaki,
.pu-hover-khaki:hover {
    color: #000 !important;
    background-color: #f0e68c !important
}

.pu-lime,
.pu-hover-lime:hover {
    color: #000 !important;
    background-color: #cddc39 !important
}

.pu-orange,
.pu-hover-orange:hover {
    color: #000 !important;
    background-color: #ff9800 !important
}

.pu-deep-orange,
.pu-hover-deep-orange:hover {
    color: #fff !important;
    background-color: #ff5722 !important
}

.pu-pink,
.pu-hover-pink:hover {
    color: #fff !important;
    background-color: #e91e63 !important
}

.pu-purple,
.pu-hover-purple:hover {
    color: #fff !important;
    background-color: #9c27b0 !important
}

.pu-deep-purple,
.pu-hover-deep-purple:hover {
    color: #fff !important;
    background-color: #673ab7 !important
}

.pu-red,
.pu-hover-red:hover {
    color: #fff !important;
    background-color: #f44336 !important
}

.pu-sand,
.pu-hover-sand:hover {
    color: #000 !important;
    background-color: #fdf5e6 !important
}

.pu-teal,
.pu-hover-teal:hover {
    color: #fff !important;
    background-color: #009688 !important
}

.pu-yellow,
.pu-hover-yellow:hover {
    color: #000 !important;
    background-color: #ffeb3b !important
}

.pu-white,
.pu-hover-white:hover {
    color: #000 !important;
    background-color: #fff !important
}

.pu-black,
.pu-hover-black:hover {
    color: #fff !important;
    background-color: #000 !important
}

.pu-grey,
.pu-hover-grey:hover,
.pu-gray,
.pu-hover-gray:hover {
    color: #000 !important;
    background-color: #9e9e9e !important
}

.pu-light-grey,
.pu-hover-light-grey:hover,
.pu-light-gray,
.pu-hover-light-gray:hover {
    color: #000 !important;
    background-color: #f1f1f1 !important
}

.pu-dark-grey,
.pu-hover-dark-grey:hover,
.pu-dark-gray,
.pu-hover-dark-gray:hover {
    color: #fff !important;
    background-color: #616161 !important
}

.pu-pale-red,
.pu-hover-pale-red:hover {
    color: #000 !important;
    background-color: #ffdddd !important
}

.pu-pale-green,
.pu-hover-pale-green:hover {
    color: #000 !important;
    background-color: #ddffdd !important
}

.pu-pale-yellow,
.pu-hover-pale-yellow:hover {
    color: #000 !important;
    background-color: #ffffcc !important
}

.pu-pale-blue,
.pu-hover-pale-blue:hover {
    color: #000 !important;
    background-color: #ddffff !important
}

.pu-text-amber,
.pu-hover-text-amber:hover {
    color: #ffc107 !important
}

.pu-text-aqua,
.pu-hover-text-aqua:hover {
    color: #00ffff !important
}

.pu-text-blue,
.pu-hover-text-blue:hover {
    color: #2196F3 !important
}

.pu-text-light-blue,
.pu-hover-text-light-blue:hover {
    color: #87CEEB !important
}

.pu-text-brown,
.pu-hover-text-brown:hover {
    color: #795548 !important
}

.pu-text-cyan,
.pu-hover-text-cyan:hover {
    color: #00bcd4 !important
}

.pu-text-blue-grey,
.pu-hover-text-blue-grey:hover,
.pu-text-blue-gray,
.pu-hover-text-blue-gray:hover {
    color: #607d8b !important
}

.pu-text-green,
.pu-hover-text-green:hover {
    color: #4CAF50 !important
}

.pu-text-light-green,
.pu-hover-text-light-green:hover {
    color: #8bc34a !important
}

.pu-text-indigo,
.pu-hover-text-indigo:hover {
    color: #3f51b5 !important
}

.pu-text-khaki,
.pu-hover-text-khaki:hover {
    color: #b4aa50 !important
}

.pu-text-lime,
.pu-hover-text-lime:hover {
    color: #cddc39 !important
}

.pu-text-orange,
.pu-hover-text-orange:hover {
    color: #ff9800 !important
}

.pu-text-deep-orange,
.pu-hover-text-deep-orange:hover {
    color: #ff5722 !important
}

.pu-text-pink,
.pu-hover-text-pink:hover {
    color: #e91e63 !important
}

.pu-text-purple,
.pu-hover-text-purple:hover {
    color: #9c27b0 !important
}

.pu-text-deep-purple,
.pu-hover-text-deep-purple:hover {
    color: #673ab7 !important
}

.pu-text-red,
.pu-hover-text-red:hover {
    color: #f44336 !important
}

.pu-text-sand,
.pu-hover-text-sand:hover {
    color: #fdf5e6 !important
}

.pu-text-teal,
.pu-hover-text-teal:hover {
    color: #009688 !important
}

.pu-text-yellow,
.pu-hover-text-yellow:hover {
    color: #d2be0e !important
}

.pu-text-white,
.pu-hover-text-white:hover {
    color: #fff !important
}

.pu-text-black,
.pu-hover-text-black:hover {
    color: #000 !important
}

.pu-text-grey,
.pu-hover-text-grey:hover,
.pu-text-gray,
.pu-hover-text-gray:hover {
    color: #757575 !important
}

.pu-text-light-grey,
.pu-hover-text-light-grey:hover,
.pu-text-light-gray,
.pu-hover-text-light-gray:hover {
    color: #f1f1f1 !important
}

.pu-text-dark-grey,
.pu-hover-text-dark-grey:hover,
.pu-text-dark-gray,
.pu-hover-text-dark-gray:hover {
    color: #3a3a3a !important
}

.pu-border-amber,
.pu-hover-border-amber:hover {
    border-color: #ffc107 !important
}

.pu-border-aqua,
.pu-hover-border-aqua:hover {
    border-color: #00ffff !important
}

.pu-border-blue,
.pu-hover-border-blue:hover {
    border-color: #2196F3 !important
}

.pu-border-light-blue,
.pu-hover-border-light-blue:hover {
    border-color: #87CEEB !important
}

.pu-border-brown,
.pu-hover-border-brown:hover {
    border-color: #795548 !important
}

.pu-border-cyan,
.pu-hover-border-cyan:hover {
    border-color: #00bcd4 !important
}

.pu-border-blue-grey,
.pu-hover-border-blue-grey:hover,
.pu-border-blue-gray,
.pu-hover-border-blue-gray:hover {
    border-color: #607d8b !important
}

.pu-border-green,
.pu-hover-border-green:hover {
    border-color: #4CAF50 !important
}

.pu-border-light-green,
.pu-hover-border-light-green:hover {
    border-color: #8bc34a !important
}

.pu-border-indigo,
.pu-hover-border-indigo:hover {
    border-color: #3f51b5 !important
}

.pu-border-khaki,
.pu-hover-border-khaki:hover {
    border-color: #f0e68c !important
}

.pu-border-lime,
.pu-hover-border-lime:hover {
    border-color: #cddc39 !important
}

.pu-border-orange,
.pu-hover-border-orange:hover {
    border-color: #ff9800 !important
}

.pu-border-deep-orange,
.pu-hover-border-deep-orange:hover {
    border-color: #ff5722 !important
}

.pu-border-pink,
.pu-hover-border-pink:hover {
    border-color: #e91e63 !important
}

.pu-border-purple,
.pu-hover-border-purple:hover {
    border-color: #9c27b0 !important
}

.pu-border-deep-purple,
.pu-hover-border-deep-purple:hover {
    border-color: #673ab7 !important
}

.pu-border-red,
.pu-hover-border-red:hover {
    border-color: #f44336 !important
}

.pu-border-sand,
.pu-hover-border-sand:hover {
    border-color: #fdf5e6 !important
}

.pu-border-teal,
.pu-hover-border-teal:hover {
    border-color: #009688 !important
}

.pu-border-yellow,
.pu-hover-border-yellow:hover {
    border-color: #ffeb3b !important
}

.pu-border-white,
.pu-hover-border-white:hover {
    border-color: #fff !important
}

.pu-border-black,
.pu-hover-border-black:hover {
    border-color: #000 !important
}

.pu-border-grey,
.pu-hover-border-grey:hover,
.pu-border-gray,
.pu-hover-border-gray:hover {
    border-color: #9e9e9e !important
}

.pu-border-light-grey,
.pu-hover-border-light-grey:hover,
.pu-border-light-gray,
.pu-hover-border-light-gray:hover {
    border-color: #f1f1f1 !important
}

.pu-border-dark-grey,
.pu-hover-border-dark-grey:hover,
.pu-border-dark-gray,
.pu-hover-border-dark-gray:hover {
    border-color: #616161 !important
}

.pu-border-pale-red,
.pu-hover-border-pale-red:hover {
    border-color: #ffe7e7 !important
}

.pu-border-pale-green,
.pu-hover-border-pale-green:hover {
    border-color: #e7ffe7 !important
}

.pu-border-pale-yellow,
.pu-hover-border-pale-yellow:hover {
    border-color: #ffffcc !important
}

.pu-border-pale-blue,
.pu-hover-border-pale-blue:hover {
    border-color: #e7ffff !important
}